<h1>Listing cats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= link_to 'Show', cat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>